.box {
    border: 1px solid blue;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.modal {
}

.headerOption {
}

.active {
    background-color: green;
}

.inactive {
    background-color: red;
}
